@font-face {
	font-family: 'Blade Runner';
	src: url('../fonts/BR.ttf') format('truetype');
}

*, *:hover {
	-webkit-transition: all 0.1s ease-out;
  	-moz-transition: all 0.1s ease-out;
  	transition: all 0.1s ease-out;
}


html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: #303030;
	font-size: 1.25em;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

header {
	background: linear-gradient(45deg, #348AC7, #7474BF);
	color: white;
	padding: 50px;
	text-align: center;
}

header > h3 {
	font-family: 'Blade Runner';
	margin: 15px 0px;
	letter-spacing: 0px;
}

header > h1 {
	font-size: 2em;
}

header .search-icon {
	height: 25px;
	padding: 10px;
	position: relative;
	top: 15px;
}

#searchform  {
	margin: 0px auto;
}

#searchform p {
	margin: 15px auto;
}

#competitions li, #teams li {
	background: #63A8F2;
	opacity: 0.4;
	margin: 5px;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 0.75em;
	display: inline-block;
}

#competitions li:hover, #teams li:hover {
	cursor: pointer;
	opacity: 0.6;
}

#competitions li.selected, #teams li.selected {
	opacity: 1;
}

#searchform input {
	max-width: 100px;
	padding: 15px;
	margin: 10px;
	border-radius: 5px;
	border: none;
	font-size: 0.75em;
	opacity: 0.9;
	text-align: center;
}

#searchform input:focus {
	outline: none;
	opacity: 1;
}

@media screen and (max-width: 1200px) {

	header > h1 {
		font-size: 1.5em;
	}

}