<!DOCTYPE html>
<html>

<head>
	<title>Scout | Millburn FTC 8405</title>
	<meta name="viewport" content="width=device-width">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//www.parsecdn.com/js/parse-1.6.7.min.js"></script>

</head>

<body class="main" ng-app="app" ng-controller="MainController">

	<header>
		<h3>millburn robotics</h3>
		<h1>Scouting Data Viewer</h1>
		<ul id="searchform">
			<li>
				<p>Competition</p>
				<ul id="competitions">
					<li ng-repeat="competition in competitions">{{ competition.attributes.name }}</li>
				</ul>
			</li>
			<li>
				<p>Filter By Team</p>
				<p class="cueText">Select a competition</p>
				<ul id="teams">
					<li ng-repeat="team in teams">{{ team.attributes.name }} ({{ team.attributes.number }})</li>
				</ul>
			</li>
			<li>
				<p>Filter By Match</p>
				<input id="matchNumber" placeholder="{{ match }}"></input>
			</li>
		</ul>
		
	</header>

	<div class="matchContainer" ng-repeat="match in matchData">

		<h1>Match {{ match[0].attributes.matchNumber }}</h1>
		<div class="content">
			<table>
				<tr class="header">
						<td>Team Number</td>
						<td>Alliance Color</td>
						<td>Auto Climber in Shelter</td>
						<td>Auto Beacon</td>
						<td>Auto Parking</td>
						<td>Teleop Climber in Shelter</td>
						<td>Teleop Parking</td>
						<td>Teleop Climber Zipline</td>
						<td>Teleop Floor Goal</td>
						<td>Teleop Mid Goal</td>
						<td>Teleop High Goal</td>
						<td>Teleop All Clear</td>
						<td>Notes</td>
					</tr>
					<tr ng-repeat="row in match">
						<td>{{ row.attributes.teamNumber }}</td>
						<td>{{ row.attributes.allianceColor }}</td>
						<td>{{ row.attributes.autoClimberInShelter }}</td>
						<td>{{ row.attributes.autoBeacon }}</td>
						<td>{{ row.attributes.autoParking }}</td>
						<td>{{ row.attributes.teleopClimberInShelter }}</td>
						<td>{{ row.attributes.teleopParking }}</td>
						<td>{{ row.attributes.teleopClimberZipline }}</td>
						<td>{{ row.attributes.teleopFloorGoal }}</td>
						<td>{{ row.attributes.teleopMidGoal }}</td>
						<td>{{ row.attributes.teleopHighGoal }}</td>
						<td>{{ row.attributes.teleopAllClear }}</td>
						<td>{{ row.attributes.notes }}</td>
					</tr>
			</table>
		</div>
	</div>

	<!-- Angular -->
    <script src="js/app.js"></script>
    <script src="js/controllers/MainController.js"></script>

</body>
</html>